<template>
  <main class="main__book-detail">
    <section class="detail">
      <div class="container">
        <div class="breadcrumb_detail">
          <p>Trang chủ<span>/ Chi Tiết Giày</span></p>
        </div>
      </div>
      <DetailGroup :book="book" />

      <div class="partner__section-book">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="partner__wrap">
                <div class="partner__content">
                  <div class="partner__head">
                    <h2 class="partner__title-title"> </h2>
                    <div class="partner__title-vector"></div>
                  </div>
                  <div class="partner__list d-flex justify-content-center">
                    <a class="partner__list-link">
                      <div
                        class="
                          link__thumb
                          d-flex
                          justify-content-center
                          align-items-center
                        "
                      >
                        <img
                          class="lazy link__thumb-img"
                          data-src="../assets/images/partner/p147-0428102815.png"
                          src="../assets/images/partner/p147-0428102815.png"
                          alt=""
                        />
                      </div>
                    </a>
                    <a class="partner__list-link">
                      <div
                        class="
                          link__thumb
                          d-flex
                          justify-content-center
                          align-items-center
                        "
                      >
                        <img
                          class="lazy link__thumb-img"
                          data-src="../assets/images/partner/dv01.png"
                          src="../assets/images/partner/dv01.png"
                          alt=""
                        />
                      </div>
                    </a>
                    <a class="partner__list-link">
                      <div
                        class="
                          link__thumb
                          d-flex
                          justify-content-center
                          align-items-center
                        "
                      >
                        <img
                          class="lazy link__thumb-img"
                          data-src="../assets/images/partner/logodhxd-0508103657.png"
                          src="../assets/images/partner/logodhxd-0508103657.png"
                          alt=""
                        />
                      </div>
                    </a>
                    <a class="partner__list-link">
                      <div
                        class="
                          link__thumb
                          d-flex
                          justify-content-center
                          align-items-center
                        "
                      >
                        <img
                          class="lazy link__thumb-img"
                          data-src="../assets/images/partner/download-0508104126.png"
                          src="../assets/images/partner/download-0508104126.png"
                          alt=""
                        />
                      </div>
                    </a>
                    <a class="partner__list-link">
                      <div
                        class="
                          link__thumb
                          d-flex
                          justify-content-center
                          align-items-center
                        "
                      >
                        <img
                          class="lazy link__thumb-img"
                          data-src="../assets/images/partner/ftuslogo-0508104421.png"
                          src="../assets/images/partner/ftuslogo-0508104421.png"
                          alt=""
                        />
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import DetailGroup from "./components/book_detail/DetailGroup.vue";
import { RequestFactory } from "@Request/RequestFactory";
const ProductRequest = RequestFactory.get("product");
export default {
  components: {
    DetailGroup,
  },
  setup() {},
  data() {
    return {
      idBook: "",
      book: {},
    };
  },
  mounted() {
    this.idBook = this.$route.params.id;
    this.getProduct(this.idBook);
  },
  methods: {
    async getProduct(idBook) {
      try {
        const {
          data: { response },
        } = await ProductRequest.getProductDetail(idBook);
        this.book = response;
        
      } catch (error) {}
    },
  },
};
</script>
