<template>
  <div>
    <div class="brcrumb">
      <div class="container">
        <ul class="brcrumb__list">
          <li class="brcrumb__list-item">
            <a class="item__links item__links" href="#">Trang chủ /</a>
          </li>
          <li class="brcrumb__list-item">
            <a class="item__links" href="#">Giỏ hàng </a>
          </li>
        </ul>
        <div class="brcrumb__info">
          <h1 class="brcrumb__info-title">Giỏ hàng </h1>
        </div>
      </div>
    </div>
    <Cart />
  </div>
</template>
<script>
import CartNone from "./components/cart/CartNone.vue";
import Cart from "./components/cart/Cart.vue";

export default {
  components: {
    CartNone,
    Cart,
  },
  setup() {},
  data() {
    return {
      countCart: 1,
    };
  },
};
</script>
