<template>
  <div>
    <div>
      <div class="brcrumb">
        <div class="container">
          <ul class="brcrumb__list">
            <li class="brcrumb__list-item">
              <a class="item__links item__links" href="#">Trang chủ /</a>
            </li>
            <li class="brcrumb__list-item">
              <a class="item__links" href="#">Thanh toán đơn hàng </a>
            </li>
          </ul>
          <div class="brcrumb__info">
            <h1 class="brcrumb__info-title">Thanh toán đơn hàng</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section-checkout">
      <div class="container">
        <div class="section-checkout__content">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-checkout__left">
                <div class="payment">
                  <h3 class="title">Các phương thức thanh toán</h3>
                  <div class="payment-group">
                    <label class="paymentMethod cod">
                      <div
                        class="method"
                        :class="isStripe ? 'active' : ''"
                        @click="isStripe = !isStripe"
                      >
                        <div class="icon">
                          <img
                            class="lazy"
                            src="https://images.ctfassets.net/fzn2n1nzq965/3AGidihOJl4nH9D1vDjM84/9540155d584be52fc54c443b6efa4ae6/homepage.png?q=80"
                            data-src="../assets/images/checkout/iconCOD.svg"
                            alt=""
                          />
                        </div>
                        <div class="text">
                          <h4>Thanh toán với Stripe</h4>
                          <span>Ví Stripe</span>
                        </div>
                      </div>
                    </label>
                    <label class="paymentMethod vnpay">
                      <div @click="gotoVNPay" class="method">
                        <div class="icon">
                          <img
                            class="lazy"
                            src="../assets/images/checkout/iconCOD2.svg"
                            data-src="../assets/images/checkout/iconCOD2.svg"
                            alt=""
                          />
                        </div>
                        <div class="text">
                          <h4>Thanh toán với VNPay</h4>
                          <span>Ví VNPay</span>
                        </div>
                      </div>
                    </label>
                    <label class="paymentMethod bank">
                      <div
                        class="method"
                        :class="!isStripe ? 'active' : ''"
                        @click="isStripe = !isStripe"
                      >
                        <div class="icon">
                          <img
                            src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404__480.png"
                            class="lazy"
                            data-src="../assets/images/checkout/iconCOD3.svg"
                            alt=""
                          />
                        </div>
                        <div class="text">
                          <h4>Thanh toán với PayPal</h4>
                          <span>Ví PayPal </span>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="info" v-if="isStripe">
                  <h3 class="title">Thông tin</h3>
                  <form action="">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="">Card Number</label>
                          <div id="card-number-element"></div>
                        </div>
                      </div>
                      <div class="form-phone-email">
                        <div class="form-phone">
                          <div class="form-group">
                            <label for="">Card Expiry</label>
                            <div id="card-expiry-element"></div>
                          </div>
                        </div>
                        <div class="form-email">
                          <div class="form-group">
                            <label for="">CVC</label>
                            <div id="card-cvc-element"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="section-checkout__right">
                <h3 class="title">Thông tin đơn hàng</h3>
                <div class="section-checkout__right-content">
                  <ul class="section-checkout__right-list">
                    <li class="section-checkout__right-item">
                      <b>Tạm tính:</b><span>{{ cart.total }}đ</span>
                    </li>

                    <li
                      class="
                        section-checkout__right-item
                        section-checkout__right-item--money
                      "
                    >
                      <b>Thành tiền:</b
                      ><span class="money">{{ cart.total }}đ</span>
                    </li>
                  </ul>
                  <div class="desc-btn">
                    <p class="desc">
                      Bằng việc nhấn thanh toán, bạn đồng ý với
                      <a href="">Các điều khoản khách hàng </a>
                    </p>
                    <a
                      class="btn-pay"
                      :style="isStripe ? '' : 'display:none'"
                      @click="Payment"
                      href="#"
                    >
                      Thanh toán</a
                    >

                    <div
                      :style="!isStripe ? '' : 'display:none'"
                      id="paypal-button-container"
                      class="submit-purchase btn-pay mb-1"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
var stripe = Stripe(process.env.VUE_APP_STRIPE_KEY),
  elements = stripe.elements(),
  stripeCard = undefined,
  cardNumberElement,
  cardExpiryElement,
  cardCvcElement;

import { RequestFactory } from "@Request/RequestFactory";
const PaymentRequest = RequestFactory.get("payment");
const CartRequest = RequestFactory.get("cart");
export default {
  setup() {},
  data() {
    return {
      cart: {},
      isStripe: true,
    };
  },
  mounted: async function () {
    if (typeof stripeCard === "undefined") {
      // init stripe
      const style = { fontSize: "16px" };

      cardNumberElement = elements.create("cardNumber", {
        style: style,
        placeholder: "Card number ",
      });
      cardNumberElement.mount("#card-number-element");

      cardExpiryElement = elements.create("cardExpiry", {
        style: style,
        placeholder: "Expiry date",
      });
      cardExpiryElement.mount("#card-expiry-element");

      cardCvcElement = elements.create("cardCvc", {
        style: style,
        placeholder: "CVC",
      });
      cardCvcElement.mount("#card-cvc-element");
      //   stripeCard = elements.create("card", {
      //     hidePostalCode: true,
      //     style: {
      //       fontSize: "16px",
      //     },
      //   });

      //   stripeCard.mount("#stripe-card");
    }
    // init paypal
    await this.mountPaypalButton();
    this.getCart();
  },
  methods: {
    async Payment() {
      try {
        const result = await stripe.createToken(cardNumberElement);
        if (result.token) {
          console.log(result.token);
          // save user website first
          //   await this.createUserWebsite();

          await PaymentRequest.createStripeOrder({
            stripeToken: result.token.id,
          });
          this.$router.push({ name: "order" });
          //   this.hideLoading = true;
          //   this.triggerInitUserWebsite();
        }
      } catch (error) {}
    },
    async getCart() {
      try {
        const {
          data: { response },
        } = await CartRequest.getCart();
        this.cart = response;
      } catch (error) {}
    },
    async gotoVNPay() {
      try {
        const {
          data: { response },
        } = await CartRequest.gotoVNpay();
        window.location.href = response;
      } catch (error) {}
    },
    mountPaypalButton() {
      paypal
        .Buttons({
          fundingSource: paypal.FUNDING.PAYPAL,
          disableS: false,
          createOrder: async () => {
            this.hideLoading = false;
            // save user website first
            const resCreate = PaymentRequest.createPaypalOrder().then(function (
              res
            ) {
              return res.data.response.id;
            });

            this.hideLoading = true;
            return resCreate;
          },
          onApprove: data => {
            this.hideLoading = false;
            const resCapture = PaymentRequest.capturePaypalOrder({
              order_id: data.orderID,
            });
            this.$router.push({ name: "order" });
            this.hideLoading = true;
            return resCapture;
          },
          style: {
            layout: "horizontal", // horizontal | vertical
            size: "responsive",
            color: "gold",
            shape: "rect",
          },
        })
        .render("#paypal-button-container");
    },
  },
  beforeDestroy() {
    cardNumberElement.destroy();
    cardExpiryElement.destroy();
    cardCvcElement.destroy();
    // stripeCard.destroy();
    stripeCard = undefined;
  },
};
</script>
<style>
#card-number-element,
#card-expiry-element,
#card-cvc-element {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
}
</style>
