<template>
  <div class="home__page">
    <div class="book-box__section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="book__box">
              <h2 class="heading">NEW BRANCH 2022</h2>
              <div class="row">
                <div
                  v-for="product in ListProduct"
                  :key="product.id"
                  class="col-lg-2 col-md-2 col-sm-4"
                >
                  <book-box :book="product" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BCard, BCardText, BLink } from "bootstrap-vue";
import BookBox from "./components/index/Book_box.vue";
import TopicBox from "./components/index/TopicBox.vue";
import { RequestFactory } from "@Request/RequestFactory";
const ProductRequest = RequestFactory.get("product");

export default {
  components: {
    BookBox,
    BCard,
    BCardText,
    BLink,
    TopicBox,
  },
  data() {
    return {
      ListProduct: [],
      ListProductCategory: [],
    };
  },
  created() {
    this.getProduct();
  },
  methods: {
    async getProduct() {
      try {
        const {
          data: { response },
        } = await ProductRequest.getProduct();

        this.ListProduct = response.filter((element, index) => {
          return element.id <= 16 && element.id >= 14;
        });

        console.log(this.ListProduct);
      } catch (error) {}
    },

  },
};
</script>

<style>
</style>
