<template>
  <div>
    <div class="brcrumb">
      <div class="container">
        <ul class="brcrumb__list">
          <li class="brcrumb__list-item">
            <a class="item__links item__links" href="#">Trang chủ /</a>
          </li>
          <li class="brcrumb__list-item">
            <a class="item__links" href="#">Chi tiết về đơn hàng</a>
          </li>
        </ul>
        <div class="brcrumb__info">
          <h1 class="brcrumb__info-title">Chi tiết về đơn hàng</h1>
        </div>
      </div>
    </div>
    <div class="detail-order-desktop">
      <div class="container">
        <OrderItem v-for="order in listOrder" :key="order.id" :order="order" />
      </div>
    </div>
  </div>
</template>
<script>
import OrderItem from "./components/order/OrderItem.vue";
import { RequestFactory } from "@Request/RequestFactory";
const OrderRequest = RequestFactory.get("order");
export default {
  setup() {},
  components: { OrderItem },
  data() {
    return {
      listOrder: [],
    };
  },
  mounted() {
    this.getOrder();
  },
  methods: {
    async getOrder() {
      try {
        const {
          data: { response },
        } = await OrderRequest.getOrder();
        this.listOrder = response;
      } catch (error) {}
    },
  },
};
</script>
