<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-5 col-sm-12">
            <div class="detail__group">
              <div class="lazy lazy-opacity bg-layout bg-book-detail-mb">
                <img :src="book.thumbnail" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="detail__list">
              <div class="list-cart">
                <div class="cart__category">
                  <div class="category-top">
                    <div class="top-co">
                      <h3 class="tit_option">Chọn</h3>
                    </div>
                    <div class="category_social desktop"></div>
                  </div>
                  <div class="cart-bg">
                    <ul class="category-li">
                      <li class="li-item">
                        <label class="category-li__item fas" for="buy-book">
                          <p class="title">GIÀY</p>
                          <span class="item-price">{{ book.price }}</span>
                        </label>
                        <div class="amout-options flex items-center">
                          <div class="option-wrap flex items-center">
                            <div
                              class="button minus js-qty-decrease-2"
                              @click="count--"
                            >
                              -
                            </div>
                            <div class="amount buy__amount">
                              <input
                                class="number js-product-qty-2"
                                type="text"
                                v-model="count"
                              />
                            </div>
                            <div
                              class="button plus js-qty-increase-2"
                              @click="count++"
                            >
                              +
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="category-total">
                      <div class="total_pr">
                        <p class="title">Thành tiền</p>
                        <p class="price">{{ count * book.price }}đ</p>
                      </div>
                      <button @click="addTocart" class="btn__sub">
                        <img
                          class="lazy"
                          data-src="../assets/images/book-detail/cart.png"
                          src="../../../assets/images/book-detail/cart.png"
                          alt=""
                        /><span>Thêm </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contentBook">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#review"
                >Giới thiệu
              </a>
            </li>
          </ul>
          <div class="tab-content list__tabs">
            <div class="tab-pane active" id="review">
              {{ book.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { RequestFactory } from "@Request/RequestFactory";
const CartRequest = RequestFactory.get("cart");
export default {
  setup() {},
  data() {
    return {
      count: 1,
      totalPrice: 0,
    };
  },
  methods: {
    async addTocart() {
      const params = {
        product_id: "" + this.book.id,
        quantity: this.count,
      };
      const {
        data: { message },
      } = await CartRequest.addToCart(params);
      if (message) {
        this.$swal({
          title: message,
          showCancelButton: true,
        });
      }
    },
  },
  props: {
    book: {
      type: Object,
      required: true,
    },
  },
};
</script>
