<template>
  <div class="cart-none-book-dk mb-3">
    <div class="container">
      <div class="cart-none-book-dk__content">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div
              class="
                cart-none-book-dk__content-img
                d-flex
                justify-content-center
                align-items-center
              "
            >
              <svg
                width="115"
                height="179"
                viewBox="0 0 115 179"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M107.156 170.187V79.1934H88.5365V87.2678C88.5365 91.5777 85.0478 95.132 80.6788 95.132C76.3361 95.132 72.8146 91.6105 72.8146 87.2678C72.8146 84.2194 74.5491 81.5783 77.0851 80.2708V79.1934H49.0512V87.2678C49.0512 91.5777 45.5626 95.132 41.187 95.132C36.8443 95.132 33.3228 91.6105 33.3228 87.2678C33.3228 84.2194 35.0573 81.5783 37.5933 80.2708V79.1934H16.0702C14.5394 79.1934 13.0283 79.016 11.5566 78.6678V166.665C11.5566 167.257 11.6749 168.091 11.8851 169.024C13.1137 169.76 14.546 170.18 16.0702 170.18H107.156V170.187Z"
                  fill="#8DB5FF"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M37.5931 57.8274V61.0072H14.5392C12.8836 61.0072 12.8836 63.517 14.5392 63.517H37.5931V67.6429H16.07C8.87597 67.6429 5.03256 58.8457 10.2688 53.6161C11.7602 52.1247 13.8166 51.1983 16.07 51.1983H37.5931V55.3243H14.5392C12.8836 55.3243 12.8836 57.834 14.5392 57.834H37.5931V57.8274ZM63.0319 15.0178C49.3204 13.9929 37.5931 24.9121 37.5931 38.6169V43.3407H33.9862V23.6638C33.9928 8.17846 54.3333 1.79907 63.0319 15.0178ZM107.156 170.186V100.361V75.4874H88.5363V67.6429H97.2875C96.5254 66.3683 95.9341 64.9821 95.5464 63.517H88.5429V61.0072H95.0931V57.8274H88.5429V55.3177H95.5464C95.9341 53.8526 96.5254 52.4663 97.2875 51.1918H88.5429V43.3407H111.084C116.248 43.3407 116.248 51.1852 111.084 51.1852C108.824 51.1852 106.768 52.1116 105.277 53.6029C100.034 58.8457 103.871 67.6297 111.084 67.6297C113.252 67.6297 115.007 69.3839 115.007 71.552V174.102C115.007 174.135 115.007 174.168 115.007 174.201C115.007 175.179 114.547 176.191 113.857 176.874V176.868C113.147 177.577 112.162 178.024 111.084 178.024H16.07C7.22692 178.031 0 170.81 0 161.961V59.4173C0 50.5676 7.22692 43.3473 16.07 43.3473H26.1417V23.6638C26.1417 17.153 28.8026 11.2335 33.0927 6.94332C46.2391 -6.2031 68.3732 0.327402 72.7751 17.9545C80.1137 22.0673 84.9295 29.8724 84.9295 38.6169V83.4436C85.6916 84.3436 86.158 85.5065 86.158 86.7811C86.158 93.5612 75.8564 93.5612 75.8564 86.7811C75.8564 85.5065 76.3163 84.3436 77.085 83.4436V75.4874H49.0511V67.6429H77.085V63.517H49.0511V61.0072H77.085V57.8274H49.0511V55.3177H77.085V51.1918H49.0511V43.3407H65.6336V27.8291C68.9974 29.0774 71.783 32.3098 73.4781 35.4634V43.3407H77.085V38.6169C77.085 33.9654 75.0351 29.6556 71.6188 26.6859C61.5865 17.9545 45.4442 24.9252 45.4442 38.6169V83.8772C46.0092 84.705 46.3377 85.7036 46.3377 86.7745C46.3377 89.6193 44.0317 91.9253 41.1869 91.9253C36.5551 91.9253 34.3082 86.2818 37.5997 83.0822V75.4874H16.07C13.0676 75.4874 10.2557 74.653 7.84449 73.2142V161.967C7.84449 166.481 11.5565 170.193 16.07 170.193H28.2573C54.5567 170.186 80.8561 170.186 107.156 170.186Z"
                  fill="#828282"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16.0702 166.422C14.408 166.422 12.8509 165.917 11.5566 165.056V166.672C11.5566 167.263 11.6749 168.098 11.8851 169.031C13.1137 169.767 14.546 170.187 16.0702 170.187C46.4298 170.187 76.7895 170.187 107.156 170.187V79.522C106.216 81.8478 105.126 84.1013 103.917 86.2825V166.422C74.6345 166.422 45.3523 166.422 16.0702 166.422Z"
                  fill="#7BA4F1"
                />
                <mask
                  id="mask0"
                  mask-type="alpha"
                  maskUnits="userSpaceOnUse"
                  x="11"
                  y="78"
                  width="97"
                  height="62"
                >
                  <path
                    d="M107.156 78.6678H11.5566V139.716H107.156V78.6678Z"
                    fill="url(#paint0_linear)"
                  />
                </mask>
                <g mask="url(#mask0)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M107.156 79.1934H88.5365V87.2678C88.5365 91.5777 85.0478 95.132 80.6788 95.132C76.3361 95.132 72.8146 91.6105 72.8146 87.2678C72.8146 84.2194 74.5491 81.5783 77.0851 80.2708V79.1934H49.0512V87.2678C49.0512 91.5777 45.5626 95.132 41.187 95.132C36.8443 95.132 33.3228 91.6105 33.3228 87.2678C33.3228 84.2194 35.0573 81.5783 37.5933 80.2708V79.1934H16.0702C14.5394 79.1934 13.0283 79.016 11.5566 78.6678V138.448C46.5415 144.827 76.6975 126.3 94.7779 101.912C100.146 94.6721 103.989 86.9919 107.156 79.1934Z"
                    fill="#B9D1FF"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M31.779 124.677H83.2149C84.3712 124.677 85.3173 125.623 85.3173 126.779C85.3173 127.936 84.3712 128.882 83.2149 128.882H31.779C30.6227 128.882 29.6766 127.936 29.6766 126.779C29.6766 125.623 30.6227 124.677 31.779 124.677ZM31.9104 135.373H83.3463C84.5026 135.373 85.4553 136.319 85.4553 137.475C85.4553 138.632 84.5092 139.584 83.3463 139.584H31.9104C30.7541 139.584 29.808 138.638 29.808 137.475C29.8014 136.319 30.7541 135.373 31.9104 135.373ZM32.0352 146.069H62.4145C63.5708 146.069 64.5169 147.015 64.5169 148.171C64.5169 149.327 63.5708 150.273 62.4145 150.273H32.0352C30.8789 150.273 29.9328 149.327 29.9328 148.171C29.9328 147.015 30.8789 146.069 32.0352 146.069ZM31.6541 113.981H83.0901C84.2464 113.981 85.1925 114.927 85.1925 116.084C85.1925 117.24 84.2464 118.186 83.0901 118.186H31.6541C30.4978 118.186 29.5518 117.24 29.5518 116.084C29.5518 114.927 30.4978 113.981 31.6541 113.981Z"
                    fill="#BDBDBD"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M31.779 122.016H83.2149C84.3712 122.016 85.3173 122.962 85.3173 124.119C85.3173 125.275 84.3712 126.221 83.2149 126.221H31.779C30.6227 126.221 29.6766 125.275 29.6766 124.119C29.6766 122.962 30.6227 122.016 31.779 122.016ZM31.9104 132.712H83.3463C84.5026 132.712 85.4553 133.658 85.4553 134.814C85.4553 135.971 84.5092 136.923 83.3463 136.923H31.9104C30.7541 136.923 29.808 135.977 29.808 134.814C29.8014 133.658 30.7541 132.712 31.9104 132.712ZM32.0352 143.408H62.4145C63.5708 143.408 64.5169 144.354 64.5169 145.51C64.5169 146.667 63.5708 147.613 62.4145 147.613H32.0352C30.8789 147.613 29.9328 146.667 29.9328 145.51C29.9328 144.354 30.8789 143.408 32.0352 143.408ZM31.6541 111.32H83.0901C84.2464 111.32 85.1925 112.267 85.1925 113.423C85.1925 114.579 84.2464 115.525 83.0901 115.525H31.6541C30.4978 115.525 29.5518 114.579 29.5518 113.423C29.5518 112.267 30.4978 111.32 31.6541 111.32Z"
                    fill="#FEFEFE"
                  />
                </g>
                <defs>
                  <linearGradient
                    id="paint0_linear"
                    x1="73.187"
                    y1="135.443"
                    x2="44.291"
                    y2="80.6108"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <p
              class="
                cart-none-book-dk__content-text
                d-flex
                justify-content-center
                align-items-center
              "
            >
              Không có sản phẩm nào trong giỏ hàng của bạn
            </p>
            <div
              class="
                cart-none-book-dk__content-btn
                d-flex
                justify-content-center
                align-items-center
              "
            >
              <a class="btn">Tiếp tục mua hàng</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
