<template>
  <div>
    <div v-if="isCart" class="section-checkout" id="cart-mb">
      <div class="container">
        <div class="section-checkout__content content-cart">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-checkout__left">
                <h3 class="title">Danh sách sản phẩm</h3>
                <ul class="section-checkout__left-list">
                  <CartItem
                    v-for="cart in cart.cart_items"
                    :key="cart.id"
                    :cart="cart"
                  />
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="section-checkout__right">
                <h3 class="title">Thông tin đơn hàng</h3>
                <div class="section-checkout__right-content">
                  <ul class="section-checkout__right-list">
                    <li class="section-checkout__right-item">
                      <b>Tạm tính:</b><span>{{ cart.total }}đ</span>
                    </li>

                    <li
                      class="
                        section-checkout__right-item
                        section-checkout__right-item--money
                      "
                    >
                      <b>Thành tiền:</b
                      ><span class="money">{{ cart.total }}đ</span>
                    </li>
                  </ul>
                  <div class="insert-code">
                    <h4>Mời nhập mã giảm giá nếu có:</h4>
                    <div class="insert-code__group">
                      <div class="row">
                        <div class="col-sm-8 col-7">
                          <input
                            class="input-field"
                            type="text"
                            placeholder="Nhập mã"
                          />
                        </div>
                        <div class="col-sm-4 col-5">
                          <button>Áp dụng</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="btn-pay" href="/check-out">Thanh toán</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <CartNone v-else />
  </div>
</template>
<script>
import CartNone from "./CartNone.vue";
import { RequestFactory } from "@Request/RequestFactory";
const CartRequest = RequestFactory.get("cart");
import CartItem from "./CartItem.vue";
export default {
  components: {
    CartItem,
    CartNone,
  },
  data() {
    return {
      cart: {},
      isCart: false,
    };
  },
  setup() {},
  mounted() {
    this.getCart();
  },
  methods: {
    async getCart() {
      try {
        const {
          data: { response },
        } = await CartRequest.getCart();
        this.cart = response;
        console.log(response);
        if (response) {
          this.isCart = true;
        }
      } catch (error) {}
    },
  },
};
</script>
