* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-background-left: #1A3A48;
    --color-bottom-input: #B1B1B1;
    --color-btn-login: #1A3A48;
    --color-white: #fff;
    --color-gray-1: #3B3B3B;
    --color-text-signup: #1A3A48;
    --color-text-forgot: #306B85;
    --color-text-checkbox: ##3B3B3B;
}

.main-mobile {
    display: none;
}

body {
    font-family: 'Open Sans';
}

.main {
    width: 100%;
}


.box-left {
    position: relative;
    min-height: 100vh;
    background-color: var(--color-background-left);

}

.box-right {
    position: relative;
    min-height: 100vh;
}

.car {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.car img {
    width: 100%;
}

.form-login {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-login h3.headline {
    font-size: 30px;
    font-weight: 700;

    margin-bottom: 20px;
}

.form-input:active,
.form-input:hover,
.form-input:visited,
.form-input:focus,
.form-input {
    padding-left: 0;
    box-shadow: none;
    border-bottom: 1px solid var(--color-bottom-input);
}

.form-input {
    border: none;
    border-radius: 0%;
}

.form-input {
    margin: 20px 0;
    border-bottom: 1px solid var(--color-bottom-input);
}

.form-input:first-child {
    margin-bottom: 5px;
}

.form-password {
    position: relative;
}

.eyes {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

}

.eyes-register {
    right: 15px;
}

.text-label {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gray-1);
}

.text-forgot {
    font-size: 12px;
    font-weight: 400;
}

.btn-login {
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--color-btn-login);
    color: var(--color-white);
    line-height: 20px;
    font-size: 14px;
}

.btn-login:hover {
    color: var(--color-white);

}

.text-account {
    font-size: 12px;
}

.text-account a {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-btn-login);
    text-decoration: underline;
}

.text-or {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.text-or .line {
    width: 40%;
    height: 2px;
    background-color: var(--color-bottom-input);
}

.login-other {
    margin-top: 30px;
}

.login-other a img {
    margin-bottom: 15px;
}


/* forgot */
.form-forgot-password h3.headline {
    font-size: 30px;
}

form.form-forgot {
    max-width: 410px;
    margin-top: 80px;
}

form.form-forgot .form-group {
    margin-bottom: 40px;
}

.text-forgot a {
    font-size: 14px;
    font-weight: 600;
    text-decoration-line: underline;
    color: var(--color-text-forgot);
}

.text-forgot {
    font-size: 14px;
    font-weight: 600;
    text-decoration-line: underline;
    color: var(--color-text-forgot);

}



/* register */
@media screen and (max-height: 720px) {
    .form-register .form-input {
        margin: 5px 0;
    }

    .form-register .btn-login {
        margin-top: 30px;
    }

    .form-register .form-checkbox {
        margin-bottom: 0;
    }

    .text-register {
        margin-top: 20px;
    }
}

.text-description {
    font-size: 14px;
    color: var(--color-text-checkbox);
    font-weight: 600;
}

.text-register {
    margin-top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.form-register {
    width: 70%;
}

.btn-register {
    width: 100%;
}

/* .login-other a:first-child {
    float: left;
}

.login-other a:last-child {
    float: right;
} */

.text-or.register {
    justify-content: flex-start;
}

.register-other {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register-other a {
    width: 50%;

}

.register-other a:first-child {
    margin-right: 10px;
}

.register-other a:last-child {
    margin-left: 10px;
}

.register-other a img {
    max-width: 100%;
}

.form-checkbox {
    box-sizing: border-box;
}

.form-checkbox label span {
    color: var(--color-text-checkbox);
    font-weight: 600;
    font-size: 12px;
    text-decoration: underline;

}

.form-checkbox label {
    font-size: 12px;
    font-weight: normal;
}

.form-checkbox input {
    margin-top: 5px;
    padding-top: 5px;
}

/* term and condition */
.page-term {
    width: 60%;
}

.content {
    height: 50vh;
    margin-bottom: 20px;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-continue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 110px;
    gap: 10px;
}

.btn-continue {
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--color-btn-login);
    color: var(--color-white);
    line-height: 20px;
    font-size: 14px;
}

/* carousel */
.carousel-indicators-custom {
    bottom: -50px;
    left: 0;
    right: auto;
    margin-left: 0;
    text-align: left;
}

.carousel-indicators-custom li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.carousel-indicators-custom li.active {
    background-color: #306B85;
}


@media only screen and (max-width: 720px) {
    .main-mobile {
        width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-mobile .btn-close {
        position: absolute;
        top: 50px;
        right: 50px;
    }
    .form-mobile {
        width: 90%;
    }
    .form-input {
        font-size: 14px;
        margin: 0;
    }
    .btn-login {
        margin-top: 5px;
    }
    .form-checkbox {
        margin-bottom: 0;
    }
    .text-or {
        width: 90%;
    }
    .text-or.register  {
        justify-content: center;
    }
    .text-or .line {
        width: 50%;
    }
    .text-or span {
        margin: 0 15px;
        margin-bottom: -8px;
    }

    .main {
        display: none;
    }

    .logo {
        margin-top: -20px;
        margin-bottom: 50px;
    }

    #page-start {
        width: 100%;
        height: 100vh;

        background-color: var(--color-background-left);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #page-start .carousel {
        width: 90%;
    }

    #page-start .carousel-indicators-custom {
        left: 50%;
        transform: translateX(-50%);
    }

    .btn-sign_in {
        margin-top: 70px;
        width: 80%;
        background-color: var(--color-text-forgot);
        color: #fff;
        font-size: 14px;
        padding: 12px 0px;
        border-radius: 5px;
    }

    .btn-join {
        width: 80%;
        margin-top: 20px;
        padding: 12px 0px;
        font-size: 14px;
        background-color: var(--color-background-left);
        border: 2px solid #FFFFFF;
        border-radius: 5px;
        color: #fff;
    }
}