<template>
  <div class="books__box">
    <a @click="gotoBookDetail(book.id)" href="#">
      <div
        class="lazy lazy-opacity bg-book-search bg-book-category bg-layout"
        data-bg=""
      >
        <img :src="book.thumbnail" alt="" srcset="" class="img-fluid" /></div
    ></a>
    <div class="books__box-body">
      <div class="body__title">
        <a class="title-link" @click="gotoBookDetail(book.id)" href="#">{{
          book.name
        }}</a>
      </div>
      <div class="body__detail">
        <a class="detail-type" href="#"></a
        ><span class="detail-price">{{ book.price }} vnđ</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  setup() {},
  methods: {
    gotoBookDetail(id) {
      this.$router.push({ name: "book-detail", params: { id: id } });
    },
  },
  props: {
    book: {
      type: Object,
      required: true,
    },
  },
};
</script>
