<template>
  <div>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4 col-md-12">
            <div class="footer__content footer__info">
              <a class="footer__logo" href="/">
                <img src="../../assets/images/logo.webp" alt="" srcset="">
                
              </a>
              <ul class="footer__content-list">
                <li class="content-list__item">
                  <i class="fas fa-map-marker-alt"> </i
                  ><span class="item-text">
                    </span
                  >
                </li>
                <li class="content-list__item">
                  <i class="fas fa-phone-volume"> </i
                  ><span class="item-text">  </span>
                </li>
                <li class="content-list__item">
                  <i class="fas fa-globe-asia"> </i
                  ><span class="item-text"> </span>
                </li>
                <li class="content-list__item">
                  <i class="fas fa-envelope"> </i
                  ><span class="item-text">  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-8 col-md-12">
            <div class="row">
              <div class="col-12 col-lg-4 col-md-4">
                <div class="footer__content">
                  <a class="content-title" href="#"></a>
                  <ul class="footer__content-list list-sty">
                    <li class="content-list__item">
                      <a href="#"> </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#"> </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#"></a>
                    </li>
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-4">
                <div class="footer__content">
                  <a class="content-title" href="#"></a>
                  <ul class="footer__content-list list-sty">
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-4">
                <div class="footer__content">
                  <a class="content-title" href="#"></a>
                  <ul class="footer__content-list list-sty">
                    <li class="content-list__item">
                      <a href="#"> Giới thiệu </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#"> Liên hệ </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#"> Tin tức </a>
                    </li>
                    <li class="content-list__item">
                      <a href="#">  </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-copyright">
      <span>Copyright © 2022 </span><span> AT15 </span>
    </section>
  </div>
</template>
