<template>
  <div>
    <div class="section__header">
      <div class="container">
        <div class="header__wrap d-flex align-items-center">
          <div class="header__logo">
            <a href="/"
              ><img src="../../assets/images/logo.webp" alt=""
            /></a>
          </div>
          <div class="header__info d-flex align-items-center">
            <div class="header__button d-flex cart align-items-center">
              <a @click="goToCart" href="#">
                <div class="button__notification">1</div>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.72936 10.4938C3.72936 10.8802 4.02351 11.1934 4.38636 11.1934H15.5554V12.5926H4.38636C3.2978 12.5926 2.41535 11.6529 2.41535 10.4938V1.39918H0.444336V0H3.07236C3.43521 0 3.72936 0.313216 3.72936 0.699588V2.79835H14.2414C14.4438 2.79836 14.6349 2.89767 14.7594 3.06755C14.8839 3.23743 14.9279 3.45892 14.8787 3.66794L13.5647 9.26465C13.4915 9.57592 13.2288 9.79423 12.9274 9.79424H3.72936V10.4938ZM4.53693 17C5.40627 17 6.111 16.2953 6.111 15.4259C6.111 14.5566 5.40627 13.8519 4.53693 13.8519C3.66759 13.8519 2.96285 14.5566 2.96285 15.4259C2.96285 16.2953 3.66759 17 4.53693 17ZM13.9814 17C14.8507 17 15.5554 16.2953 15.5554 15.4259C15.5554 14.5566 14.8507 13.8519 13.9814 13.8519C13.112 13.8519 12.4073 14.5566 12.4073 15.4259C12.4073 16.2953 13.112 17 13.9814 17Z"
                    fill="white"
                  />
                </svg>
                Giỏ hàng
              </a>
            </div>
            <div class="line"></div>
            <div class="header__button d-flex account align-items-center">
              <div @click="logout">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.6665 2.50008C11.6665 2.03984 12.0396 1.66675 12.4998 1.66675H15.8332C16.4962 1.66675 17.1321 1.93014 17.6009 2.39898C18.0698 2.86782 18.3332 3.50371 18.3332 4.16675V15.8334C18.3332 16.4965 18.0698 17.1323 17.6009 17.6012C17.1321 18.07 16.4962 18.3334 15.8332 18.3334H12.4998C12.0396 18.3334 11.6665 17.9603 11.6665 17.5001C11.6665 17.0398 12.0396 16.6667 12.4998 16.6667H15.8332C16.0542 16.6667 16.2661 16.579 16.4224 16.4227C16.5787 16.2664 16.6665 16.0544 16.6665 15.8334V4.16675C16.6665 3.94573 16.5787 3.73377 16.4224 3.57749C16.2661 3.42121 16.0542 3.33341 15.8332 3.33341H12.4998C12.0396 3.33341 11.6665 2.96032 11.6665 2.50008Z"
                    fill="#1c1b1a"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.74408 5.24408C8.06951 4.91864 8.59715 4.91864 8.92259 5.24408L13.0893 9.41074C13.4147 9.73618 13.4147 10.2638 13.0893 10.5893L8.92259 14.7559C8.59715 15.0814 8.06951 15.0814 7.74408 14.7559C7.41864 14.4305 7.41864 13.9028 7.74408 13.5774L11.3215 10L7.74408 6.42259C7.41864 6.09715 7.41864 5.56951 7.74408 5.24408Z"
                    fill="#1c1b1a"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.6665 10.0001C1.6665 9.53984 2.0396 9.16675 2.49984 9.16675H12.4998C12.9601 9.16675 13.3332 9.53984 13.3332 10.0001C13.3332 10.4603 12.9601 10.8334 12.4998 10.8334H2.49984C2.0396 10.8334 1.6665 10.4603 1.6665 10.0001Z"
                    fill="#1c1b1a"
                  ></path>
                </svg>
                Đăng xuất
              </div>
            </div>
            <div class="line"></div>
            <div class="header__button d-flex account align-items-center">
              <div @click="gotoOrder">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9375 2.0625C17.0324 2.07496 14.8728 2.475 13.31 3.16637C12.1438 3.68199 11.6875 4.07215 11.6875 5.39387V19.25C13.4737 17.6387 15.0588 17.1875 21.3125 17.1875V2.0625H19.9375Z"
                    fill="#1c1b1a"
                  ></path>
                  <path
                    d="M2.0625 2.0625C4.96762 2.07496 7.12723 2.475 8.69 3.16637C9.85617 3.68199 10.3125 4.07215 10.3125 5.39387V19.25C8.52629 17.6387 6.94117 17.1875 0.6875 17.1875V2.0625H2.0625Z"
                    fill="#1c1b1a"
                  ></path>
                </svg>
                Giày của tôi
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__header-mobile">
      <div class="container">
        <div class="header__wrap d-flex align-items-center">
          <div class="header__logo">
            <a href="./index-mobile.html"
              ><img src="../../assets/images/logo-nxb.svg" alt=""
            /></a>
          </div>
          <div class="header__info d-flex align-items-center">
            <div class="header__button d-flex align-items-center account">
              <a href="./login-mobie.html">
                <div class="button__notification">!</div>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10 1.25C8.26942 1.25 6.57769 1.76318 5.13876 2.72464C3.69983 3.6861 2.57832 5.05267 1.91606 6.65152C1.25379 8.25037 1.08051 10.0097 1.41813 11.707C1.75575 13.4044 2.58911 14.9635 3.81282 16.1872C5.03653 17.4109 6.59563 18.2442 8.29296 18.5819C9.9903 18.9195 11.7496 18.7462 13.3485 18.0839C14.9473 17.4217 16.3139 16.3002 17.2754 14.8612C18.2368 13.4223 18.75 11.7306 18.75 10C18.75 7.67936 17.8281 5.45376 16.1872 3.81282C14.5462 2.17187 12.3206 1.25 10 1.25ZM15 15.5744V15.1944C15.0174 14.3421 14.6998 13.5171 14.1155 12.8964C13.5312 12.2758 12.7267 11.909 11.875 11.875H8.125C7.27398 11.9092 6.47038 12.2761 5.88712 12.8968C5.30386 13.5174 4.98755 14.3422 5.00625 15.1937C5.00625 15.2006 5 15.2075 5 15.2144V15.58C3.8662 14.5679 3.06647 13.2354 2.70667 11.7588C2.34687 10.2822 2.44398 8.73112 2.98513 7.31092C3.52628 5.89072 4.48595 4.66833 5.73714 3.80557C6.98832 2.94281 8.47201 2.48034 9.99182 2.47939C11.5116 2.47844 12.9959 2.93905 14.2482 3.80025C15.5004 4.66145 16.4616 5.88263 17.0045 7.30216C17.5475 8.72168 17.6465 10.2726 17.2886 11.7497C16.9306 13.2267 16.1325 14.5603 15 15.5737V15.5744Z"
                    fill="#1c1b1a"
                  />
                  <path
                    d="M10 4.375C9.38193 4.375 8.77775 4.55828 8.26384 4.90166C7.74994 5.24504 7.3494 5.7331 7.11288 6.30411C6.87635 6.87513 6.81447 7.50347 6.93505 8.10966C7.05563 8.71585 7.35325 9.27267 7.79029 9.70971C8.22733 10.1467 8.78415 10.4444 9.39034 10.565C9.99654 10.6855 10.6249 10.6236 11.1959 10.3871C11.7669 10.1506 12.255 9.75006 12.5983 9.23616C12.9417 8.72225 13.125 8.11807 13.125 7.5C13.125 6.6712 12.7958 5.87634 12.2097 5.29029C11.6237 4.70424 10.8288 4.375 10 4.375Z"
                    fill="#1c1b1a"
                  />
                </svg>
              </a>
            </div>
            <div class="header__button d-flex align-items-center cart">
              <a href="./cart-mobile.html">
                <div class="button__notification">1</div>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.72936 10.4938C3.72936 10.8802 4.02351 11.1934 4.38636 11.1934H15.5554V12.5926H4.38636C3.2978 12.5926 2.41535 11.6529 2.41535 10.4938V1.39918H0.444336V0H3.07236C3.43521 0 3.72936 0.313216 3.72936 0.699588V2.79835H14.2414C14.4438 2.79836 14.6349 2.89767 14.7594 3.06755C14.8839 3.23743 14.9279 3.45892 14.8787 3.66794L13.5647 9.26465C13.4915 9.57592 13.2288 9.79423 12.9274 9.79424H3.72936V10.4938ZM4.53693 17C5.40627 17 6.111 16.2953 6.111 15.4259C6.111 14.5566 5.40627 13.8519 4.53693 13.8519C3.66759 13.8519 2.96285 14.5566 2.96285 15.4259C2.96285 16.2953 3.66759 17 4.53693 17ZM13.9814 17C14.8507 17 15.5554 16.2953 15.5554 15.4259C15.5554 14.5566 14.8507 13.8519 13.9814 13.8519C13.112 13.8519 12.4073 14.5566 12.4073 15.4259C12.4073 16.2953 13.112 17 13.9814 17Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
            <div class="header__button d-flex align-items-center menu">
              <i class="fas fa-bars"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  methods: {
    logout() {
      localStorage.clear();
      console.log(this.$keycloak);
      this.$keycloak.logoutFn();
    },
    goToCart() {
      this.$router.push({ name: "cart" });
    },
    gotoOrder() {
      this.$router.push({ name: "order" });
    },
  },
};
</script>
